<h1>PRODUCTOS</h1>
<h2>Elige tu auto a escala!!</h2>

<div id="contenedorProductos"></div> 

 <form id="productForm">
        <input type="text" id="title" placeholder="Título" required />
        <input type="text" id="description" placeholder="Descripción" required />
        <input type="number" id="price" placeholder="Precio" step="0.01" required />
        <input type="text" id="img" placeholder="Imagen URL" required />
        <input type="text" id="code" placeholder="Código" required />
        <input type="number" id="stock" placeholder="Stock" required />
        <button type="submit">Agregar Producto</button>
    </form> 

    
 <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/main.js"></script> 
